Repository shiftcode/dynamo-easy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix, sort-package-json

.lintstagedrc.yml:

"{src,test}/**/*.ts":
  - prettier --write --config ./.prettierrc.yml
  - eslint --config .eslintrc.yml --ext .ts --fix
"**/package.json":
  - sort-package-json

feat(aws-sdk-v3): [WIP] first compiling version
  .github/workflows/main.yml
  src/aws-sdk-v2.types.ts
  src/config/config.type.ts
  src/decorator/impl/index/gsi-partition-key.decorator.ts
  src/decorator/impl/index/gsi-sort-key.decorator.ts
  src/decorator/impl/index/lsi-sort-key.decorator.ts
  src/decorator/impl/key/partition-key.decorator.ts
  src/decorator/impl/key/sort-key.decorator.ts
  src/dynamo/batchget/batch-get-full.response.ts
  src/dynamo/batchget/batch-get-utils.ts
  src/dynamo/batchget/batch-get.request.ts
  src/dynamo/batchwrite/batch-write-utils.ts
  src/dynamo/batchwrite/batch-write.request.ts
  src/dynamo/dynamo-db-wrapper.ts
  src/dynamo/dynamo-store.ts
  src/dynamo/expression/param-util.ts
  src/dynamo/expression/prepare-and-add-update-expressions.function.ts
  src/dynamo/operation-params.type.ts
  src/dynamo/request/batchgetsingletable/batch-get-single-table.request.ts
  src/dynamo/request/batchgetsingletable/batch-get-single-table.response.ts
  src/dynamo/request/batchwritesingletable/batch-write-single-table.request.ts
  src/dynamo/request/get/get.request.ts
  src/dynamo/request/query/query.response.ts
  src/dynamo/request/read-many.request.ts
  src/dynamo/request/scan/scan.response.ts
  src/dynamo/transactget/transact-get-full.response.ts
  src/dynamo/transactget/transact-get.request.ts
  src/dynamo/transactwrite/transact-write.request.ts
  src/helper/fetch-all.function.ts
  src/mapper/for-type/base.mapper.ts
  src/mapper/for-type/collection.mapper.ts
  src/mapper/type/attribute-value-type.type.ts
  src/mapper/type/attribute.type.ts
  v2-v3-migration.md
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

feat(aws-sdk-v3): fix tests
  src/aws-sdk-v2.types.ts
  src/dynamo/batchget/batch-get.request.spec.ts
  src/dynamo/batchwrite/batch-write.request.spec.ts
  src/dynamo/dynamo-db-wrapper.spec.ts
  src/dynamo/dynamo-store.spec.ts
  src/dynamo/request/base.request.spec.ts
  src/dynamo/request/batchwritesingletable/batch-write-single-table.request.spec.ts
  src/dynamo/request/delete/delete.request.spec.ts
  src/dynamo/request/get/get.request.spec.ts
  src/dynamo/request/get/get.request.ts
  src/dynamo/request/transactgetsingletable/transact-get-single-table.request.spec.ts
  src/dynamo/request/update/update.request.spec.ts
  src/dynamo/request/write.request.spec.ts
  src/dynamo/transactget/transact-get.request.spec.ts
  src/dynamo/transactwrite/transact-base-operation.spec.ts
  src/dynamo/transactwrite/transact-write.request.spec.ts
  src/helper/fetch-all.spec.ts
  src/logger/logger.spec.ts
  src/mapper/mapper.spec.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

feat(aws-sdk-v3): fix code, disable lint for certain lines
  src/dynamo/expression/prepare-and-add-update-expressions.function.ts
  src/dynamo/request/get/get.request.ts
  src/mapper/mapper.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

feat(aws-sdk-v3): resolve ts issues in snippets
  snippets/app.snippet.ts
  snippets/expressions/attribute2-condition.snippet.ts
  snippets/expressions/or-not-and-condition.snippet.ts
  snippets/expressions/update-expression.snippet.ts
  snippets/looks-easy-right.snippet.ts
  snippets/multi-model-requests/batch-get.snippet.ts
  snippets/multi-model-requests/batch-write.snippet.ts
  snippets/multi-model-requests/transact-get.snippet.ts
  snippets/multi-model-requests/transact-write.snippet.ts
  snippets/store-requests/batch-get.snippet.ts
  snippets/store-requests/batch-write.snippet.ts
  snippets/store-requests/delete.snippet.ts
  snippets/store-requests/get.snippet.ts
  snippets/store-requests/put.snippet.ts
  snippets/store-requests/query.snippet.ts
  snippets/store-requests/scan.snippet.ts
  snippets/store-requests/transact-get.snippet.ts
  snippets/store-requests/update-complex.snippet.ts
  snippets/store-requests/update-simple.snippet.ts
  snippets/store.snippet.ts
Due: none

Notes added by 'git notes add'
  e2bcb117f0dfd5920c6aae2371fb96514f746add
Due: none

test(gh-action): add node16 in test matrix
  .github/workflows/main.yml
  v2-v3-migration.md
Due: none

fix(types): inline the KeyType from '@aws-sdk/client-dynamodb'
  src/aws-sdk-v2.types.ts
  src/decorator/impl/index/gsi-partition-key.decorator.ts
  src/decorator/impl/index/gsi-sort-key.decorator.ts
  src/decorator/impl/index/lsi-sort-key.decorator.ts
  src/decorator/impl/index/util.ts
  src/decorator/impl/key/partition-key.decorator.ts
  src/decorator/impl/key/sort-key.decorator.ts
  src/decorator/impl/model/model.decorator.ts
  src/decorator/metadata/property-metadata.model.ts
  tools/tslint/test/test.ts.lint
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

Notes added by 'git notes add'
  b85e0b5d69f2fe54e17af12af2d696b41cce39a0
Due: none

feat(deps): update version range of @aws-sd
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  c5a15746bf4e13d25be6bcbe69c6242470c325de
Due: none

docs(aws-sdk): update doc for v2 -> v3
  v2-v3-migration.md
Due: none

fix(deps): include tslib as dependency
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  2e1ad7c0bc41eeb8a45ba873d17e9d998fdbf41c
Due: none

docs(*): update v2-v3-migration guide
  src/aws-sdk-v2.types.ts
  v2-v3-migration.md
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

Notes added by 'git notes add'
  233db98574c7df80f152f217157d8d16af2c68a2
Due: none

Notes added by 'git notes add'
  45070eeef10c5ac4eb55f62e2bae412373ebce01
Due: none

Notes added by 'git notes add'
  9b3b47d6295a5a69d636f9deadf32dad167888dc
Due: none

docs(todo): update to post-v3 todos
  src/dynamo/expression/prepare-and-add-update-expressions.function.ts
  src/dynamo/request/get/get.request.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

feat(expression-builder): allow for empty arrays, Sets and objects
  src/dynamo/expression/condition-expression-builder.spec.ts
  src/dynamo/expression/condition-expression-builder.ts
  src/dynamo/expression/update-expression-builder.spec.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

feat(expression-builder): revert for sets
  src/dynamo/expression/condition-expression-builder.ts
  src/dynamo/expression/update-expression-builder.spec.ts
  src/dynamo/expression/update-expression-builder.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

feat(expression-builder): allow for empty arrays and objects
  src/dynamo/expression/condition-expression-builder.spec.ts
  src/dynamo/expression/condition-expression-builder.ts
  src/dynamo/expression/prepare-and-add-update-expressions.function.ts
  src/dynamo/expression/update-expression-builder.spec.ts
  src/dynamo/expression/update-expression-builder.ts
  src/dynamo/request/get/get.request.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

Notes added by 'git notes add'
  fbcd0cb93a8958116357c88d5283c352d1ef2b09
Due: none

fix(todos): fix open todos
  src/dynamo/expression/functions/unique-attribute-value-name.function.ts
  src/dynamo/expression/prepare-and-add-update-expressions.function.ts
  src/dynamo/expression/request-expression-builder.spec.ts
  src/dynamo/expression/request-expression-builder.ts
  src/dynamo/expression/type/update-expression-definition-function.ts
  src/dynamo/expression/update-expression-builder.spec.ts
  src/dynamo/expression/update-expression-builder.ts
  src/dynamo/request/get/get.request.ts
  src/dynamo/request/get/get.response.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(update): update migration.md
  v2-v3-migration.md
Due: none

feat: add support for reflect-metadata ^0.2.0
  package-lock.json
  package.json
Due: sort-package-json

feat: use current node versions for testing
  .github/workflows/main.yml
Due: none

feat: change supported node versions
  .nvmrc
  package-lock.json
  package.json
Due: sort-package-json

chore: use latest action versions during GitHub action
  .github/workflows/main.yml
Due: none

feat: update @types/node to match used node version
  package-lock.json
  package.json
Due: sort-package-json

feat: bring back test step
  .github/workflows/main.yml
Due: none

chore: update workflow file to use npm trusted publishing
  .github/workflows/main.yml
Due: none

chore: test node 20 since still supported by packages.engines
  .github/workflows/main.yml
Due: none

chore(deps): update semantic-release to latest version
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  4c2ab006664712e4bacb22995f49e76909cc816e
Due: none

chore: pin commit sha instead of version tag
  .github/workflows/main.yml
Due: none

refactor: replace yml config files with js
  .commitlintrc.yml
  .lintstagedrc.yml
  .prettierrc.yml
  commitlint.config.js
  lint-staged.config.js
  package.json
  prettier.config.js
Due: sort-package-json

refactor: disable eslint until tslint to eslint migration is finished
  lint-staged.config.js
Due: none

chore(deps): use latest versions from commitlint
  package-lock.json
Due: none
