Repository shiftcode/dynamo-easy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix, sort-package-json

refactor(typo): fix some typos
  src/mapper/custom/date-to-number.mapper.ts
  src/mapper/custom/date-to-string.mapper.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(deps): update dependency husky to v6
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update dependency ts-node to v9
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update dependency tslib to v2
  package.json
Due: sort-package-json

chore(deps): update dependency handlebars to 4.7.7 [security]
  package-lock.json
Due: none

chore(deps): update dependency lodash to 4.17.21 [security]
  package-lock.json
Due: none

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update dependency ts-node to v10
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update dependency trim-newlines to 3.0.1 [security]
  package-lock.json
  package.json
Due: sort-package-json

remove strict null checking bypassing attribute and prop transforms
  src/mapper/mapper.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(deps): update dependency path-parse to 1.0.7 [security]
  package-lock.json
Due: none

chore(deps): update dependency tmpl to 1.0.5 [security]
  package-lock.json
Due: none

chore(deps): update dependency husky to v7
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update dependency ajv to 6.12.3 [security]
  package-lock.json
Due: none

chore(deps): update dependency aws-sdk to 2.814.0 [security]
  package-lock.json
Due: none

chore(deps): update dependency shelljs to 0.8.5 [security]
  package-lock.json
Due: none

chore(deps): update AWS-SDK version to 2.1194.0 from 2.4.1.0
  package-lock.json
  package.json
Due: sort-package-json

chore(npm): update to new lockfile version, automatically done by npm i
  package-lock.json
Due: none

chore(node): update to node 18 for dev
  .github/workflows/main.yml
  .nvmrc
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to typescript 4.9
  .github/workflows/main.yml
  package-lock.json
  package.json
  src/dynamo/request/batchgetsingletable/batch-get-single-table.request.ts
  src/dynamo/request/get/get.request.ts
  src/dynamo/request/update/update.request.ts
  src/mapper/mapper.ts
  src/mapper/util.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix, sort-package-json

chore(deps): update to lint-staged ^13.1.0
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to husky ^8
  .github/workflows/main.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.yml
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to prettier ^2.8.3
  package-lock.json
  package.json
  src/decorator/metadata/metadata.ts
  src/dynamo/request/base.request.ts
  src/dynamo/request/read-many.request.ts
  src/dynamo/request/standard.request.ts
  src/dynamo/request/write.request.ts
  src/dynamo/transactwrite/transact-base-operation.ts
  src/mapper/for-type/base.mapper.ts
  test/models/model-with-custom-mapper-and-default-value.model.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix, sort-package-json

chore(deps): update to sort-package-json ^2.1.0
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): remove ts-node
  package-lock.json
  package.json
  tools/gh-pages-publish.mjs
Due: sort-package-json

chore(deps): update to semantic-release ^20.0.2
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to rimraf ^4.1.1
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to @commitlint/* ^17.4.2
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to colors^1.4.0
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update different deps
  package-lock.json
  package.json
Due: sort-package-json

chore(deps): update to jest^29
  jest.config.js
  package-lock.json
  package.json
  src/decorator/decorators.spec.ts
  src/decorator/impl/model/model.decorator.spec.ts
  src/dynamo/batchget/batch-get-utils.spec.ts
  src/dynamo/batchget/batch-get.request.spec.ts
  src/dynamo/batchwrite/batch-write-utils.spec.ts
  src/dynamo/batchwrite/batch-write.request.spec.ts
  src/dynamo/dynamo-db-wrapper.spec.ts
  src/dynamo/dynamo-store.spec.ts
  src/dynamo/request/batchgetsingletable/batch-get-single-table.request.spec.ts
  src/dynamo/request/batchwritesingletable/batch-write-single-table.request.spec.ts
  src/dynamo/request/delete/delete.request.spec.ts
  src/dynamo/request/get/get.request.spec.ts
  src/dynamo/request/put/put.request.spec.ts
  src/dynamo/request/query/query.request.spec.ts
  src/dynamo/request/read-many.request.spec.ts
  src/dynamo/request/scan/scan.request.spec.ts
  src/dynamo/request/transactgetsingletable/transact-get-single-table.request.spec.ts
  src/dynamo/request/update/update.request.spec.ts
  src/dynamo/request/write.request.spec.ts
  src/dynamo/transactget/transact-get.request.spec.ts
  src/dynamo/transactwrite/transact-write.request.spec.ts
  src/helper/fetch-all.spec.ts
  src/helper/promise-tap.function.spec.ts
  src/logger/logger.spec.ts
  src/mapper/mapper.spec.ts
  src/mapper/wrap-mapper-for-collection.function.spec.ts
  test/models/organization.model.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix, sort-package-json

refactor(typescript): fix ts issues
  src/dynamo/expression/condition-expression-builder.ts
  src/dynamo/expression/functions/attribute-name-replacer.function.ts
  src/dynamo/expression/logical-operator/attribute.function.ts
  src/dynamo/expression/logical-operator/update.function.ts
  src/dynamo/expression/type/condition-expression-definition-chain.ts
  src/dynamo/expression/update-expression-builder.ts
  src/dynamo/request/write.request.ts
  src/dynamo/transactwrite/transact-base-operation.ts
  src/dynamo/transactwrite/transact-write.request.ts
  src/helper/promise-delay.function.ts
  tslint.yml
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(typescript): update target to es2021
  package.json
  tsconfig.json
Due: sort-package-json

fix(update-request): use params given by args
  src/dynamo/request/update/update.request.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(typescript): resolve typescript errors
  src/decorator/impl/model/errors.const.ts
  src/dynamo/dynamo-db-wrapper.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(deps): update @types/jest^29
  package-lock.json
  package.json
Due: sort-package-json

chore(typescript): fix ts errors in tests
  jest.config.js
  src/decorator/metadata/property-metadata.spec.ts
  src/dynamo/batchget/batch-get.request.spec.ts
  src/dynamo/batchwrite/batch-write.request.spec.ts
  src/dynamo/dynamo-db-wrapper.spec.ts
  src/dynamo/dynamo-db-wrapper.ts
  src/dynamo/dynamo-store.spec.ts
  src/dynamo/expression/request-expression-builder.spec.ts
  src/dynamo/request/read-many.request.spec.ts
  src/dynamo/request/write.request.spec.ts
  src/dynamo/transactget/transact-get.request.spec.ts
  src/dynamo/transactwrite/transact-write.request.spec.ts
  tsconfig.jest.json
  tsconfig.json
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

chore(typescript): restructure tsconfig files
  snippets/tsconfig.json
  tsconfig.base.json
  tsconfig.jest.json
  tsconfig.json
Due: none

feat(aws-sdk-v3): [WIP] update imports
  src/dynamo/batchget/batch-get.request.ts
  src/dynamo/batchwrite/batch-write.request.ts
  src/dynamo/dynamo-db-wrapper.ts
  src/dynamo/dynamo-store.ts
  src/dynamo/expression/param-util.ts
  src/dynamo/transactget/transact-get.request.ts
  src/dynamo/transactwrite/transact-write.request.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.yml --ext .ts --fix

Path conditions:
  prettier --write --config ./.prettierrc.yml: any of: {src,test}/**/*.ts
  eslint --config .eslintrc.yml --ext .ts --fix: any of: {src,test}/**/*.ts
  sort-package-json: any of: **/package.json
